body
    background: $violet
    // display: flex
    // flex-direction: column
    min-width: 375px
    max-width: 1440px
    color: white
    @include font($family-open, $font-normal)
    padding: 4em

h1
    @include font($family-poppins, $font-bold)
